$color-rust: #db7523;
$color-lightRust: #eec497;
$color-brown: #3c070e;
$color-lightBrown: #613d2b;
$color-purple: #7c5cb3;
$color-lightPurple: #cabed7;
$box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
